Basic Python for Machine Learning

In [1]:
print('Hello Zeeshan Khattak')

Hello Zeeshan Khattak

In [2]:
print(''' My name is Zeeshan Khattak . i belong to Distric Karak Khayber pukhton Khawa .
i did my Bachelor in Computer from Abdul Wali khan University Mardan .
By Profesion I am Junior Data Scientist
''')

 My name is Zeeshan Khattak . i belong to Distric Karak Khayber pukhton Khawa .
i did my Bachelor in Computer from Abdul Wali khan University Mardan .
By Profesion I am Junior Data Scientist

#print Function

In [3]:
print('Machine Learning Hands on course ')

Machine Learning Hands on course

In [4]:
print("Machine Learning " + 'Projects ')

Machine Learning Projects

In [5]:
print(10)

10

In [6]:
print(9+10)

19

#Basic Data Types:


1.   int
2.   Float
3.   Str

In [7]:
type(4)

int

In [8]:
type(1.8)

float

In [9]:
type('Zeeshan Khattak')

str

In [10]:
type(True)

bool

Constant
 &
variables

In [13]:
super_hero='Iron Man'  # we can change the value of variable
print(super_hero)

Iron Man

In [14]:
super_hero='Captain America'
print(super_hero)

Captain America

In [16]:
first_name,last_name,full_name= 'Zeeshan','Khattak','Zeeshan khattak'

print(first_name,last_name,full_name)

Zeeshan Khattak Zeeshan khattak

input function

In [18]:
number1=int(input('Enter the First number '))
number2=int(input('Enter the Second number '))
sum =number1 + number2
print(sum)

Enter the First number 20
Enter the Second number 22
42

In [19]:
# Changing the data type in python
num=8
print(float(num))

8.0

Basic Data type


int
String
float
complex
Bolean

---

In [20]:
# integer
a=8
print(a)

8

In [21]:
type(a)

int

In [22]:
# floating point
b=2.3
print(b)
print(type(b))

2.3
<class 'float'>

In [24]:
# complex Number
c = 1 +3j
print(c)
print(type(c))

(1+3j)
<class 'complex'>

In [25]:
# convert of one data type into another
# int to float
x=90
print(x)
print(type(x))

90
<class 'int'>

In [26]:
# conversion
y=float(x)
print(y)
print(type(y))

90.0
<class 'float'>

Boolean Variable

In [28]:
a=True
print(a)
print(type(a))

True
<class 'bool'>

string

In [29]:
print('Machine Learning course ')

Machine Learning course

In [30]:
my_str= 'Zeeshan Khattak'
print(my_str)
print(type(my_str))

Zeeshan Khattak
<class 'str'>

In [31]:
print(my_str*5)

Zeeshan KhattakZeeshan KhattakZeeshan KhattakZeeshan KhattakZeeshan Khattak

In [32]:
# Slicing
print(my_str[1:5])

eesh

In [33]:
# String Concatination
word_1='Machine'
word_2='Learning'
print(word_1+word_2)

MachineLearning

List

In [37]:
# list should be included in the Square  brackets
my_list=[0,10.3,'Zeeshan',True,1+3j] # list can have multiple data types
print(my_list)
print(type(my_list))

[0, 10.3, 'Zeeshan', True, (1+3j)]
<class 'list'>

In [38]:
# List are mutable its can be change once its created
#add elemnet to list
my_list=[0,10.3,'Zeeshan',True,1+3j]
my_list.append(8)
print(my_list)

[0, 10.3, 'Zeeshan', True, (1+3j), 8]

In [41]:
#print elemements using their index
print(my_list[0])

0

In [44]:
# list allow Dublicate values but Set no
list_1=[1,2,3,3,4,5]
print(list_1)

[1, 2, 3, 3, 4, 5]

In [47]:
print(len(my_list))

6

Tuple

In [50]:
# immuatble data type ,you can not change
tuple_1=(1,2,3,4)
print(tuple_1)
print(type(tuple_1))

(1, 2, 3, 4)
<class 'tuple'>

In [52]:
## tuple allow multiple data type
tuple_1=('machine learning',3,2.4)
print(tuple_1)

('machine learning', 3, 2.4)

In [58]:
# converting list into a tuple
my_list=[0,2,4,5]
print(my_list)
print(type(my_list))

my_tup=tuple(my_list)
print(my_tup)
print(type(my_tup))

[0, 2, 4, 5]
<class 'list'>
(0, 2, 4, 5)
<class 'tuple'>

Set

In [59]:
# Set does not  support indexing and dublicate
my_set={1,2,3,4,3}
print(my_set)
print(type(my_set))

{1, 2, 3, 4}
<class 'set'>

In [62]:
# convert List into Set
my_list=[1,2,3,4,4]
print(my_list)
print(type(my_list))

my_set=set(my_list)
print(my_set)
print(type(my_set))

[1, 2, 3, 4, 4]
<class 'list'>
{1, 2, 3, 4}
<class 'set'>

Dictionary:


key Value pairs

In [68]:
my_dic= {
    'name' :'Zeeshan',
    'Age':22,
    'position':'Data Scientist'

}

print(my_dic)
print(type(my_dic))

{'name': 'Zeeshan', 'Age': 22, 'position': 'Data Scientist'}
<class 'dict'>
<built-in method values of dict object at 0x7a46f5aa0e00>

<built-in method values of dict object at 0x7a46f5c67100>

Operator in python:

In [69]:
#Arithmatic operator
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

30
-10
200
0.5
0
10

In [70]:
# Assigment operator
a= 5
print(a)

5

In [71]:
a+=8
print(a)

13

In [72]:
# Comparison operator
a=4
b=9
print(a<b)

True

In [73]:
# Logical operator  and or not
a=10
print(a>20 and a>6)

False

In [74]:
# identity operator  is and is not
x=5
y=5
print(x is y)

True

In [75]:
print(x is not y)

False

In [77]:
# membership operator : in not in
a=8
b=9
c=[1,2,3,4,5]
print(a and b in c)
print(a and b not in c)

False
True

If Else Statment

In [78]:
a =10
b=90

if a>b:
  print('a is greater number ')
else :
  print('b is greater number ')

b is greater number

In [80]:
a = int(input('Enter the first number '))
b =int(input('Enter the Second number '))
if a>b:
  print('first number is greater number ')
else :
  print('second number  is greater number ')

Enter the first number 45
Enter the Second number 90
second number  is greater number

if elif else statment

In [82]:
a=10
b=30
c=100
if(a>b and a>c):
  print('a is the greates number ')
elif(b>a and b>c):
  print('b is the greatest number ')
else:
  print('c is the greatest number ')

c is the greatest number

For loop

In [83]:
for i in range(5):
  laptop_price=int(input('enter the price of laptop'))

enter the price of laptop33000
enter the price of laptop33310
enter the price of laptop40000
enter the price of laptop90000
enter the price of laptop342444

In [84]:
names=['Zeeshan','khan','ahmad','maryam','nazra']
for i in names:
  print(i)

Zeeshan
khan
ahmad
maryam
nazra

Function:


Function is a block of code that  can be reused in a program .